<h1>ユーザー一覧</h1>
<table>
<%= link_to "新規ユーザー登録", new_user_path %>
  <tr>
    <th>メールアドレス</th>
    <th>ユーザー種別</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, edit_user_path(user.id) %></td>
    <td><%= user.role %></td>
    <td><%= link_to "削除", user_path(user.id), data: { turbo_method: :delete, turbo_confirm: "ユーザーを削除しますか？"} %></td>
  </tr>
<% end %>
</table>